{
  "root": true,
  "extends": ["@react-native-community", "plugin:prettier/recommended"],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "prettier", "react-hooks"],
  "ignorePatterns": ["node_modules", "android", "ios", "coverage", "__tests__"],
  "rules": {
    "arrow-spacing": "warn",
    "block-spacing": ["warn", "always"],
    "brace-style": ["warn", "1tbs"],
    "camelcase": "error",
    "default-case": "error",
    "eol-last": "warn",
    "eqeqeq": "warn",
    "global-require": "warn",
    "max-lines": ["warn", 400],
    "max-params": ["warn", 5],
    "newline-before-return": "warn",
    "no-cond-assign": ["error", "always"],
    "no-console": "error",
    "no-dupe-keys": "error",
    "no-duplicate-case": "error",
    "no-else-return": "warn",
    "no-magic-numbers": "warn",
    "prefer-const": "warn",
    "prefer-template": "warn",
    "quotes": ["error", "double"],
    "semi": "off",
    "arrow-parens": ["warn", "always"],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "off",
    "@typescript-eslint/no-unused-vars": "warn"
  }
}
